<!-- https://www.vecteezy.com/vector-art/144660-midsummer-celebration-elements -->
<!--https://www.vecteezy.com/vector-art/148627-sweden-icon-pack -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./styles/materialize.css">
    <link rel="stylesheet" type="text/css" href="font-awesome.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  </head>
  <body>
    <div class="top">
      <a href="/" id="logo">Swedify</a>
    </div>
    <div class="wrapper-index">
      <div id="city">
        <h5>Choose your city:</h5>
      </div>
      <div class="row">
        <a href="/stockholm">
          <div class="item" id="stockholm">
            <img class="city-image"src="../images/sweden1.png" alt="Sweden Icon">
            <h5>Stockholm</h5>
          </div>
        </a>
        <a href="/giteborg">
          <div class="item" id="goteborg">
            <img class="city-image" src="sweden2.png" alt="Sweden Icon">
            <h5>Göteborg</h5>
          </div>
        </a>
        <a href="/other">
          <div class="item" id="other">
            <img class="city-image" src="sweden3.png" alt="Sweden Icon">
            <h5>Other</h5>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
