<!-- https://www.vecteezy.com/vector-art/144660-midsummer-celebration-elements -->
<!--https://www.vecteezy.com/vector-art/148627-sweden-icon-pack -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="materialize.css">
    <link rel="stylesheet" type="text/css" href="font-awesome.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  </head>
  <body>
    <div class="top">
      <a href="#" id="logo">Swedify</a>
    </div>
    <div class="wrapper-index">
      <div id="city">
        <h5>Choose your city:</h5>
      </div>
      <div class="row">
        <div class="item" id="stockholm" onClick="location.href='stockholm.html'">
          <img class="city-image"src="sweden1.png" alt="Sweden Icon">
          <h5>Stockholm</h5>
        </div>
        <div class="item" id="goteborg" onClick="location.href='goteborg.html'">
          <img class="city-image" src="sweden2.png" alt="Sweden Icon">
          <h5>Göteborg</h5>
        </div>
        <div class="item" id="other" onClick="location.href='main.html'">
          <img class="city-image" src="sweden3.png" alt="Sweden Icon">
          <h5>Other</h5>
        </div>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
