<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="materialize.css">
    <link rel="stylesheet" type="text/css" href="font-awesome.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  </head>
  <body>
    <div class="top">
      <a href="/" id="logo">Swedify</a>
    </div>
    <div class="back-button" onClick="location.href='index.html'">
      <p>Go back</p>
    </div>
    <div class="wrapper-main">
      <div class="inner-wrapper">
        <img class="sweden-image"src="sweden4.jpg" alt="Sweden Icon">
        <h2 class="city-name">Sweden</h2>
        <div class="middle-page z-depth-4">
          <div class="input">
            <p id="info">Translate the following sentence:</p>
            <p>{{A sentence here}}</p>
            <input type="text" name="lastname">
            <div class="check">Check</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html
